@import url('fonts/Gilroy.css');
@import url('fonts/Roboto.css');

.verification__character {
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
}

.verification-character__selected {
    position: relative;
}

.verification-character__selected:empty::after {
    content: '';
    width: 1px;
    height: 30px;
    background-color: #333;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: blink 1s infinite step-end;
}

.vi__wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.verification-character__inactive {
    background-color: transparent;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
