@font-face {
  font-family: 'Gilroy';
  font-weight: 100;
  src: url('shared/assets/fonts/Gilroy-Thin.ttf');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 200;
  src: url('shared/assets/fonts/Gilroy-UltraLight.ttf');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 300;
  src: url('shared/assets/fonts/Gilroy-Light.ttf');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 400;
  src: url('shared/assets/fonts/Gilroy-Regular.ttf');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 500;
  src: url('shared/assets/fonts/Gilroy-Medium.ttf');
}
